PORTAL_COMMON_DB_USERNAME=""
PORTAL_COMMON_DB_PASSWORD=""
PORTAL_COMMON_DB_HOSTNAME=""
PORTAL_COMMON_DB_DBNAME=""
PORTAL_COMMON_OPENAPI_ROOT_PATH= ""
PORTAL_COMMON_AUTH_DEFAULT_ID_TOKEN_VERIFY_AT_HASH= "false"
PORTAL_COMMON_AUTH_COOKIE_SECURE="false"
PORTAL_COMMON_AUTH_DEFAULT_ISSUERS="[\"https://keycloak.openg2p.org/realms/master\"]"
PORTAL_COMMON_AUTH_DEFAULT_JWKS_URLS="[\"https://keycloak.openg2p.org/realms/master/protocol/openid-connect/certs\"]"
PORTAL_COMMON_REGISTRANT_DRAFT_MODE_ENABLED=True
